
.App{
    text-transform: uppercase;
}


.details1{
    /* width: 50%; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.details2{
    /* width: 50%; */
    font-weight:normal;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}